@import '@momentum-design/tokens/dist/css/theme/webex/light-stable.css';
@import '@momentum-design/tokens/dist/css/theme/webex/dark-stable.css';
@import '@momentum-design/fonts/dist/css/fonts.css';

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.theme-webex-light {
  color-scheme: light;
}

.theme-webex-dark {
  color-scheme: dark;
}
